# Обычно ничего заполнять не нужно: API_ID / API_HASH / BOT_TOKEN уже в config.py
# Сессию создаёт бот @jsjeigiejwhnewbot командой /start (или generate_session.py)

SESSION_STRING=
CHANNEL_ID=-1003784435307
MIN_STARS=3000
MAX_STARS=25000
